<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LUVA_Extractor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <LUVA_Extractor.My.MySettings>
            <setting name="StandardPath" serializeAs="String">
                <value>O:\LUVA Verwaltungs GmbH\Präsentation\Output</value>
            </setting>
            <setting name="DatenbankPath" serializeAs="String">
                <value>O:\LUVA Verwaltungs GmbH\Testdaten\objektliste neu.xlsx</value>
            </setting>
            <setting name="basicPathPDf" serializeAs="String">
                <value>O:\LUVA Verwaltungs GmbH\Testdaten_Produktion</value>
            </setting>
            <setting name="suchkriterien" serializeAs="String">
                <value>WEG;Objekt;Objekt:;WEG:;GWE;Kom.:;MH;Abrechnungseinheit;Verbrauchsstelle:;Liegenschaft;Aktenzeichen:</value>
            </setting>
        </LUVA_Extractor.My.MySettings>
    </userSettings>
</configuration>